*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-header: #211F21;
    --txt-lynx: #f5f6fa;
    --bg-main: #3f434d;
    --txt-blue: #a7cbec;
    --txt-one: #a5a1a5;
    --space-small: 2rem;
    --space-medium: 4rem;
    --space-large: 8rem;
    font-size: 62.5%;
}
body, button{
    font-family: "Noto Sans", sans-serif;
}

/* MENU FIXO */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-header);
    z-index: 1000;
}

.menu-wrapper {
    width: 100%;
    text-align: right;
    gap: 2.5rem;
}

.menu-wrapper ul {
    display: flex;
    gap: 1rem;
    font-weight: bold;
    list-style: none;
}

.menu-wrapper ul li a{
    font-size: 2rem;
    color: var(--txt-lynx);
    text-decoration: none;
    font-weight: 300;
}

.menu-wrapper ul li a:hover {
    color: var(--txt-blue);
    font-weight: 400;
    border-bottom: 0.1rem solid var(--txt-blue);
}

/*MAIN*/
main {
    width: 100%;
    background: var(--bg-main);
    
}

.menu-wrapper, .one-container, .contact-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
}
.full-height{
    height: 100vh;
}
.text-line{
    width: 65rem;
    margin: 0 auto;
    font-weight: 500;
}
.text-line h2{
    font-size: 2.8rem;
    line-height: 2;
    color: var(--txt-blue);
}
.text-line h3{
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--txt-lynx);
}
hr{
    border: .2rem solid var(--txt-blue);
    width: 100%;  
    margin: 2rem 0;
}

.geral {
    width: 122rem;
}
.about, .one{
    width: 122rem;  
    display: flex;  
    align-items: center;
}

.one h1 {
    font-size: 4.2rem;
    color: var(--txt-blue);
    font-weight: 800;
}
.one img {
    width: 70rem;
}

.text {
    width: 60rem;
    display: grid;
}

.text h2 {
    color: var(--txt-one);
    font-weight: 650;
    font-size: 2rem;
    white-space: nowrap;
    overflow: hidden;
/*    animation: typing 3.5s steps(40, end), blink 0.75s infinite;*/
}

.text .btn a{
    margin-right: 1rem;
    padding-top: 2rem;
}
.text button:hover{
    background: var(--txt-lynx);
    font-weight: 600;
}
.btn i{
    font-size: 4rem;
    color: white;
}


/*ABOUT*/
.about-container{
    width: 100%;
    height: 100vh;
    background: var(--txt-lynx);
    display: flex;
    place-content: center;
}
.text-about{
    display: inline;
    text-align: center;
    margin: 0 auto;
    padding: 6rem 0 0 8rem;
}
.text-about h2 {
    font-size: 3.2rem;
    color: var(--bg-header);
    font-weight: 700;
}
.text-about p{
    margin-bottom: 2rem;
    font-size: 1.6rem;
    text-align: justify;
    font-weight: 450;
}
.about-container img {
    width: 40%;
    
}

/*LINGUAGENS*/
.tec-container{
    width: 100%;
    background: var(--bg-about);
}
.tecnologia{
    width: 122rem;
    margin: 0 auto;
    padding: 8rem 0;
    text-align: center;
}
.tecnologia hr{
    width: 100%;    
    margin: 0 0 2rem 0;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 22rem);

    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    margin-top: 3rem;
}

.card {
    display: flex;
    flex-direction: column;
    height: 25rem;
    padding: 2rem;
    border-radius: 2rem;
    background: var(--txt-lynx);
    transition: all 300ms ease-in-out;
}

.card:hover{
    transform: scale(1.1);
}
.card h2{
    color: var(--bg-main);
    font-size: 1.3rem;  
    margin-top: 2rem;
}
.card p{
    color: var(--bg-main);
    font-size: 1.3rem;  
    margin-top: 1rem;
    text-align: center;
    font-weight: 600;
}

.card:nth-last-child(2) {
    grid-column: 2 / 3;
}

.card:last-child {
    grid-column: 3 / 4;
}

.fa-brands{
    margin-top: 2rem;
    font-size: 6rem;
}

/*PROJETOS*/
.projects-container{
    width: 100%;
    background: var(--txt-lynx);
    display: flex;
    place-content: center;
}
.projects-content{
    
    width: 122rem;
    min-height: 100vh;
    margin: 0 auto;
    padding: 7rem 0;
    text-align: center;
}


.projects-content .text-line h3{
    color: var(--bg-main);
}

.projects-container a{
    font-size: 2.4rem;
}

.projects{
    display: grid;
    grid-template-columns: repeat(4, 25rem);
    gap: 4rem;
    padding-top: 5rem;
}

.projects .card {
    position: relative;
    border-radius: 2rem;
    height: 30rem;   
    box-sizing: border-box;
    padding: 0;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.projects .card img {
    width: 100%;
    border-radius: 2rem;
}

.projects .card h2 {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.3); /* Fundo preto semi-transparente */
    border-radius: 1rem;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.projects .card:hover h2 {
    display: flex;
}

/* Estilo do Modal de projetos */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

/*estilo do modal (parte de dentro)*/
.modal-content {
    border-radius: 2rem;
    margin: 7rem auto;
    background-color: white;
    width: 131rem;
    height: 65rem;
    position: relative;
    overflow: hidden;
}

.close {
    position: absolute;
    top: 20px;
    left: 40px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.modal iframe{
    width: 100%;
    border-radius: 2rem;
    
}


/* CONTATO */
.contact-container {
    width: 100%;
    position: relative;
    z-index: 0;
}
.contact {
    text-align: center;
    width: 100rem;
    display: inline;
    justify-content: center;
}
.location {
    height: 30rem;
    display: flex;
    align-items: center;
    border: 0.1rem solid var(--txt-lynx);
    border-radius: 3rem;
    margin-top: 6rem;
    justify-content: space-between;
}
.location h2 {
    text-align: center;
    font-size: 1.8rem;
}

.icons-container {
    display: flex;
    justify-content: center;
    width: 50%;
}

.details {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    justify-content: center;
    text-align: left;
    gap: 1rem;
    color: var(--txt-lynx);
}

.contact a{
    color: var(--txt-lynx);
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 2.5;
    margin: 0;
}

.contact a:hover,
.btn i:hover{
    color: var(--txt-blue);
    font-weight: 500;
}

.details i {
    font-size: 2.4rem;
    display: flex;
    margin: 0;
    justify-content: center;   
}
.location h2 {
    grid-column: 1 / span 2;
    font-size: 1.8rem;
    font-weight: bold;
}
.details h2 {
    font-weight: bold;
    text-align: center;
}


.details .icon:nth-of-type(1),
.details .icon:nth-of-type(2){
    grid-column: 1;
    
}


iframe {
    border-radius: 3rem 0 0 3rem;
    height: 100%;
    width: 50%;
}

/* FOOTER */
footer {
    color: #9e9fa0;
    line-height: 1.7em;
    display: flex;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
    position: relative;
    z-index: 2;
    
}
.direitos {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 800;
    background: #1F2228;
    text-align: center;
    padding: 2.5rem 0;
    line-height: 2em;
}



/* Animação do texto
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 2%;
    }
}
*/