*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-header: #211F21;
    --txt-lynx: #f5f6fa;
    --bg-main: #353b48;
    --txt-blue: #a7cbec;
    --txt-one: #a5a1a5;
    --space-small: 2rem;
    --space-medium: 4rem;
    --space-large: 8rem;
    font-size: 62.5%;
}
body, button{
    font-family: "Noto Sans", sans-serif;
}



/* MENU FIXO */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-header);
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.menu-wrapper {
    text-align: right;
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.menu-wrapper ul {
    display: flex;
    gap: 1rem;
    font-weight: bold;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-wrapper ul li a{
    font-size: 2rem;
    color: var(--txt-lynx);
    text-decoration: none;
    font-weight: 300;
}

.menu-wrapper ul li a:hover {
    color: var(--txt-blue);
    font-weight: 400;
    border-bottom: 0.1rem solid var(--txt-blue);
}

/*MAIN*/
main {
    width: 100%;
    background: var(--bg-main);
    
}
.geral {
    width: 122rem;
    height: 100vh;
}

.one-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
}

.one h1 {
    font-size: 4.2rem;
    color: var(--txt-blue);
    font-weight: 800;
}
.one img {
    width: 70rem;
    align-items: center;
}

.one, .about{
    display: flex;
    align-items: center;
}

.text {
    width: 60rem;
    display: grid;
}

.text h2 {
    color: var(--txt-one);
    font-weight: 650;
    font-size: 2rem;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3.5s steps(40, end), blink 0.75s infinite;
}
.text button{
    width: 20rem;
    border-radius: 1rem;
    padding: 1.5rem;
    margin-top: 2rem;
    border: none;
    background: var(--txt-blue);
    cursor: pointer;
}
.text .btn {
    display: flex;
    gap: 2rem;
}
.text button:hover{
    background: var(--txt-lynx);
    font-weight: bold;
}
.btn a {
    text-decoration: none;
    color: var(--bg-main);
    font-size: 1.6rem;
    font-weight: 600;
}


/*ABOUT*/
.about-container{
    width: 100%;
    background: var(--txt-lynx);
}
.about-content{
    display: flex;
    place-content: center;
    padding: 5rem 0;
}
.about{
    width: 122rem;
    height: 100vh;
    
}
.text-about{
    display: inline;
    text-align: center;
    margin: 0 auto;
    padding-left: 8rem;
}
.text-about h2 {
    font-size: 3.8rem;
    color: var(--bg-header);
    font-weight: 800;
    margin-bottom: 4rem;
}
.text-about p{
    margin-bottom: 3rem;
    font-size: 1.6rem;
    text-align: justify;
    font-weight: 450;
}
.about-content img {
    width: 50%;
    display: flex;
    align-items: center;
    
}
/*TECNOLOGIAS*/
.tec-container{
    width: 100%;
    background: var(--bg-about);
    display: flex;
}
.tecnologia{
    width: 122rem;
    min-height: 100vh;
    margin: 0 auto;
    padding: 8rem 0;
    text-align: center;
}
.text-line h2{
    font-size: 2.8rem;
    color: var(--txt-blue);
    text-align: center;
    font-weight: 500;
}
.text-line h3{
    font-size: 3.2rem;
    color: var(--txt-lynx);
    font-weight: 700;
    line-height: 5.5rem;
    text-align: center;
}
.tecnologia hr{
    border: .2rem solid var(--txt-blue);
    width: 44%;  
    margin: 0 auto 2rem;
}
.cards {
    display: flex;
    grid-template-columns: repeat(4, 25rem);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.card {
    background: var(--txt-lynx);
    border-radius: 2rem;
    width: 23rem;
    height: 23rem;
    padding: 2rem;
    transition: all 300ms ease-in-out;
}
.card:nth-last-child(2),
.card:last-child {
    
    justify-self: center;
}
.card:hover{
    transform: scale(1.1);
}
.card p{
    color: var(--bg-main);
    font-size: 1.3rem;  
    margin-top: 1rem;
    text-align: center;
    font-weight: 600;
}
.card h2{
    color: var(--bg-main);
    font-size: 1.3rem;  
    margin-top: 2rem;
}
.fa-brands{
    font-size: 6rem;
}

/*PROJETOS*/
.projects-container{
    width: 100%;
    background: var(--txt-lynx);
    display: flex;
    place-content: center;
}
.projects-content{
    width: 122rem;
    min-height: 100vh;
    margin: 0 auto;
    padding: 7rem 0;
    text-align: center;
}

.projects-content .text-line h2{
    font-weight: 500;
}
.projects-content .text-line h3{
    color: var(--bg-main);
}
.projects-content .text-line hr{
    border: .2rem solid var(--txt-blue);
    width: 33%;  
    margin: 0 auto; 
}
.projects-container a{
    font-size: 2.4rem;
}

.projects{
    display: grid;
    grid-template-columns: repeat(4, 25rem);
    gap: 4rem;
    padding-top: 5rem;
}

.projects .card{
    border-radius: 2rem;
    border: 1px solid var(--txt-one);
    width: 25rem;
    height: 30rem;   
    box-sizing: border-box;
    padding: 0;
    overflow: hidden;
}

.projects .card img{
    width: 100%;
    
    border-radius: 2rem;
}

/* CONTATO */
.contact-container {
    width: 100%;
    position: relative;
    z-index: 0;
}
.contact-content {
    display: flex;
    place-content: center;

}
.contact {
    width: 122rem;
    height: 100vh;
    padding: 7rem 0;
    display: inline;
    justify-content: center;
}
.contact hr{
    border: .2rem solid var(--txt-blue);
    width: 30%;  
    margin: 0 auto;
}


.location {
    display: flex;
    border: 0.1rem solid var(--txt-lynx);
    border-radius: 3rem;
    margin-top: 3rem;
    height: 40rem;
}

.location h2 {
    font-size: 1.8rem;
}
.icons-container {
    margin: 2.5rem 5rem 0 5rem; /* Margem ao redor da div */
}

.location .icons:nth-child(1) {
    /* Estilos para o primeiro <span> */
    border-bottom: .1rem solid var(--txt-lynx);
}

.details {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    color: var(--txt-lynx);
    align-items: center; /* Alinha verticalmente os itens */
}

.details i {
    font-size: 2.4rem;
    display: flex;
    justify-content: center;
}

.details p {
    font-size: 1.6rem;
    line-height: 2;
    margin: 0; /* Remove espaçamento extra dos parágrafos */
}

.location h2 {
    grid-column: 1 / span 2;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.location {
    display: flex;
    border: 0.1rem solid var(--txt-lynx);
    border-radius: 3rem;
    margin-top: 3rem;
    height: 40rem;
}

.icons-container {
    margin: 2.5rem 5rem 0 5rem; /* Margem ao redor da div */
}

iframe {
    border-radius: 3rem 0 0 3rem;
    height: 100%; /* Garante que ele preencha 100% da altura disponível */
    min-height: 0; /* Evita que o iframe extrapole a altura */
    width: 60rem;
}


.details .icon:nth-of-type(1),
.details .icon:nth-of-type(2),
.details .icon:nth-of-type(3) {
    grid-column: 1;
}

.details h2 {
    grid-column: 1 / span 2;
    font-weight: bold;
    margin: 2.5rem 0;
}
iframe {
    border-radius: 3rem 0 0 3rem;
    height: 100%;
    width: 60rem;
}
/* FOOTER */
footer {
    color: #9e9fa0;
    line-height: 1.7em;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    position: relative;
    z-index: 2;
    
}
.direitos {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 800;
    background: #1F2228;
    text-align: center;
    padding: 2.5rem 0;
    line-height: 2em;
}



/* Animação de escrever o texto */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 62%; /*tamanho do texto*/
    }
}








.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.modal-content {
    border-radius: 2rem;
    margin: 6.5rem auto;
    background-color: white;
    width: 131rem;
    height: 60rem;
    position: relative;
    overflow: hidden;
}

.close {
    position: absolute;
    top: 20px;
    left: 40px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.modal iframe{
    width: 100%;
    border-radius: 2rem;
    
}
